<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="RecursosEntities" connectionString="metadata=res://*/RecursosLocalizacion.csdl|res://*/RecursosLocalizacion.ssdl|res://*/RecursosLocalizacion.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Recursos;persist security info=True;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="RutaDestino" value="C:\Users\jcrojas\Desktop\code\c# .net\resx-generator.net\Localizacion\" />
    <add key="NombreArchivo" value="Recursos" />
    <add key="NombreArchivoConstantes" value="Recursos" />
    <add key="CulturaDefault" value="es"/>
    <add key="Culturas" value="es,en-US"/>
    <add key="Compilador" value="cs"/>
    <add key="Namespace" value="Localizacion"/>
    <add key="ClaseConstantes" value="Constantes"/>
    <add key="GenerarConstantes" value="true"/>
    <add key="GenerarRecursos" value="false"/>
    
  </appSettings>
</configuration>